.post-container
{
    margin-inline:1rem  !important;
    background-color: white !important;
    padding: 1rem;
    border-radius: 5px;
}

.post-container .post-card{
    margin: auto !important;
}
.post-container .post-card .post-card-body{
    display: flex;
    flex-direction: column;
}