.postManagementList{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto !important;
}

.postManagementList li{
    margin: 1rem;
}